<mat-toolbar>
    <h3>KIGGUNDU BREVIN</h3>&nbsp;
    <a href="" class="email">kiggundubrevin@gmail.com</a>

    <span class="example-spacer"></span>

    <img src="../assets/images/brevin.jpg" class="profile">
</mat-toolbar>

<div class="container d-flex body">
    <div class="image">
        <img src="../assets/images/brevin.jpg" class="profile-me" width="160">
    </div>

    <div class="d-flex flex-block major-profile">
        <h1>
            KIGGUNDU BREVIN <br>
            <p class="profession">software engineer, computer scientist</p>
        </h1>
    </div>

</div>

<hr/>
<div class="footer">
    &copy; copyright 2022 @brevins2
</div>