<app-header>
</app-header>

<div class="container d-flex body">
    <div class="image">
        <img src="../assets/images/brevin.jpg" alt="image of Kiggundu Brevin" class="profile-me" title="Kiggundu Brevin" width="160">
        <h3>
            KIGGUNDU BREVIN <br>
            <p class="profession">Software engineer, Computer scientist</p>
        </h3>
        <div>
            <link type="file" ref="../assets/files/KIGGUNDU BREVIN cv.docx">
        </div>
    </div>

    <div class="d-flex flex-block major-profile">
        <h1>
            KIGGUNDU BREVIN <br>
            <p class="profession">software engineer, computer scientist</p>
        </h1>
        <div class="d-flex block">
            <link type="file" ref="../assets/files/KIGGUNDU BREVIN cv.docx">

            <div class="skills">
                <h3>
                    Skills
                </h3>
                <ul>
                    <li>Web development</li>
                    <li>Linux</li>
                    <li>Mobile Development</li>
                    <li>Languages: javascript, java, python, C#, PHP, MySQL</li>
                    <li>OS installation</li>
                    <li>System administration</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>